@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

header {
  background: rgba(255, 144, 14, 0.1);
  padding: 30px 100px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 700;
}
nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin: 30px;
  font-weight: 500;
  font-size: 1.2rem;
}

nav a {
  color: #424242;
  text-decoration: none;
}

.banner {
}
.banner-content {
  max-width: 700px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid #eee;
}
.banner-content h1 {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner-content p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.banner img {
  max-width: 100%;
}
.primary-btn {
  padding: 15px 25px;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  margin: 30px;
}

main {
}
/* teams-container css */
.teams-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 110px;
  margin: 60px 0;
}
.teams-img {
}
.teams-img img {
  height: 300px;
  width: 300px;
  padding: 5px 5px;
}
.teams-content {
  height: 320px;
  width: 800px;
  border: 1px solid #eee;
  margin: auto;
}
.teams-content .span1 {
  color: #727272;
  font-size: 3rem;
  font-weight: 500;
}
.teams-content .span2 {
  color: #131313;
  font-size: 3rem;
  font-weight: 700;
}
.teams-content .span3 {
  color: #ff900e;
  font-size: 3rem;
  font-weight: 700;
}
.teams-content p {
  margin: 5px 0;
  color: #727272;
  font-size: 1rem;
  font-weight: 2.5rem;
  line-height: 24px;
}

/* features css */
.features-container {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
}

.feature-content h2 {
  width: 400px;
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

.feature-content p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.feature-list .div1 {
  height: 100px;
  width: 480px;
  padding: 10px 20px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin: 30px 20px 0;
}

.feature-img {
  text-align: center;
}
.feature-img img {
  max-width: 100%;
}

.lgbtn {
  width: 300px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 40px;
  border: 0;

  position: relative;
  top: -104px;
  bottom: 0px;
  left: -188px;
  right: 0px;
}

.lgbtn span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40px;
}

/* fact-section  */
.fact-container {
  padding: 0 100px;
}
.fact-content {
  height: 100px;
  width: 600px;
}
.fact-content h1 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}

.fact-content p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.fact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.fact-box .box {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #ff900e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 20px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.box h1 {
  margin: 8px;
}

/* sponspors-container */
.sponspors-container {
  margin-top: 30px;
}
.sponspors-content {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #eee;
}
.sponspors-content h1 {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.sponspors-content p {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 30px 0;
}
.sponspors-img-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
.sponspors-img-icon img {
  width: 110px;
  height: 55px;
}

/* footer-section  */
.footer-section {
  margin: 50px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content p {
  border-radius: 8px;
  background: #fff4e7;
  padding: 20px 250px;
  color: #424242;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 576px) {
  header {
    padding: 15px;
  }
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    margin: 10px;
  }

  .banner-content {
    border: 3px solid #eee;
  }
  /* teams-container */
  .teams-container {
    flex-direction: column;
    padding: 0px 0px;
    margin-top: 20px;
  }
  .teams-content {
    height: 300px;
    width: 300px;
    border: 1px solid #eee;
    margin: auto;
  }
  .teams-img {
    text-align: center;
  }
  .teams-img img {
    height: 400px;
    width: 450px;
    padding: 5px 10px;
  }

  /* features-container  */
  .features-container {
    flex-direction: column;
    padding: 0 20px;
  }

  .feature-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .feature-list .div1 {
    height: 110px;
    width: 400px;
    padding: 10px 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    /* margin: auto; */
    margin: 15px;
    border: 1px solid rgba(255, 0, 0, 0.842);
  }

  .feature-img img {
    max-width: 100%;
  }
  .lgbtn {
    width: 300px;
    height: 150px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #ff900e;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 40px;
    border: 0;

    position: relative;
    top: -84px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  .lgbtn span {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
  }

  /* fact-section  */
  .fact-container {
    padding: 0px 0px;
  }
  .fact-content {
    height: 200px;
    width: 400px;
    border: 1px solid #eee;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .fact-box {
    flex-direction: column;
  }

  /* sponspors-container */
  .sponspors-container {
    margin-top: 10px;
  }
  .sponspors-content {
    width: 400px;
    margin: 0 auto;
    border: 1px solid #eee;
  }
  .teams-content {
    height: 300px;
    width: 400px;
    border: 1px solid #eee;
    margin: auto;
  }
  .sponspors-img-icon {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .sponspors-img-icon img {
    margin: 20px;
  }

  /* footer-section  */
  .footer-section {
    margin: 20px;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-content p {
    border-radius: 8px;
    background: #fff4e7;
    padding: 7px 70px;
    color: #424242;
    font-size: 1rem;
  }
}
